.*.swp
Makefile
*/Makefile
*/.deps
*/.libs
*/*.l[oa]
*/*.[oa]
autom4te.cache
config.h
config.log
config.status
config.guess
stamp-h1
intltool-extract
intltool-merge
intltool-update
po/POTFILES
po/*.gmo
intltool-extract
src/gimp-lqr-plugin
src/tags
gap/tags
gap/plug_in_lqr_iter
po/stamp-it
po/Makefile.in
